:root {
    --backgroundColor: rgb(70, 70, 70);
    --textColor: lightgray;
    --hoverBackgroundColor: rgb(80, 80, 80);
}

body {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

button {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    border-radius: 5px;
}

button:hover {
    background-color: var(--hoverBackgroundColor);
}

h1 {
    display: flex;
    margin: 10px;
}