/* HEADER COMMENT
 * GROUP MEMBERS: Brandyn Tucknott
 */
:root { /*set variables for convenience*/
    --backgroundColor: rgb(70, 70, 70);
    --textColor: lightgray;
    --hoverBackgroundColor: rgb(80, 80, 80);
}

body, button {
    background-color: var(--backgroundColor);
    color: var(--textColor);
}

body, body > div, #workspace > section {
    align-items: center;
    justify-content: center;
}

#game-board, #workspace > section, #top-text {
    display: flex;
    flex-flow: row;
}

table tr td {   
    border: 1px solid var(--textColor);
    width: 100px;
    height: 100px;
    text-align: center;
}

/* display operatinos in a column */
#operations, #workspace, body, body > div {
    display: flex;
    flex-flow: column;
}

button {
    text-align: center;
    margin: 10px;
}

#operations button {  
    height: 50px;
    width: 50px;
    font-size: 25px;
}

header, footer { padding: 20px; }

#restart { padding: 10px; }

td:hover, button:hover { background-color: var(--hoverBackgroundColor); }

#message, #restart { font-size: 20px; }

#workspace { font-size: 18px; }

table { font-size: 35px; }

/* space out the tiles, operations, and workspace */
#game-board div, #top-text span{ padding: 30px; }

#top-text, #workspace-header { font-size: 25px; }

/* make heading big and "separated" from the rest of the document */
header { font-size: 70px; }

#workspace-header {
    position: relative;
    bottom: 3%;
}