/* HEADER COMMENT
 * GROUP MEMBERS: Brandyn Tucknott
 */
:root { /*set variables for convenience*/
    --backgroundColor: rgb(70, 70, 70);
    --textColor: lightgray;
    --hoverBackgroundColor: rgb(80, 80, 80);
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: var(--backgroundColor);
    color: var(--textColor);
}

/* make heading big and "separated" from the rest of the document */
header { font-size: 70px; }

header, footer {
    margin: 20px;
    padding: 20px;
}

#top-text {
    flex-flow: row;
    font-size: 25px;
}
/* space out the goal, wins, and losses text */
#top-text span {
    padding: 30px;
}

#game-board {
    display: flex;
    flex-flow: row;
}
/* space out the tiles, operations, and workspace */
#game-board div {
    padding: 30px;
}

table {
    font-size: 35px;
}

table tr td {
    padding: 35px;
    border: 1px solid var(--textColor);
}

td:hover {
    background-color: var(--hoverBackgroundColor);
}

/* display operatinos in a column */
#operations {
    display: flex;
    flex-flow: column;
}

button {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    text-align: center;
    margin: 10px;
}

#operations button {  
    height: 50px;
    width: 50px;
    font-size: 25px;
}

#restart {
    font-size: 20px;
    padding: 10px;
}

#message {
    font-size: 20px;
}

button:hover {
    background-color: var(--hoverBackgroundColor);
}

#workspace {
    display: flex;
    flex-flow: column;
    font-size: 18px;
}

#workspace-header {
    position: relative;
    bottom: 3%;
    font-size: 25px;
}

#workspace > section {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

body > div {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}